body{
    /* background-image: url(./img/02-OnePlus-9.jpg);
    background-repeat: no-repeat;
    opacity: 0.9; */
    background-image: linear-gradient(#82adad, #8b947e);
    background-repeat: no-repeat;
}
.col{
    /* background-color: cadetblue; */
    border-radius: 30px;
}